# Final Project Submission

Please fill out:
* Student name: Austin Towery
* Student pace: self paced
* Scheduled project review date/time: 
* Instructor name: James Irving
* Blog post URL:

# Business Problem

Microsoft sees all the big companies creating original video content and they want to get in on the fun. They have decided to create a new movie studio, but they don’t know anything about creating movies. This analysis will explore what types of films are currently doing the best at the box office. Using that analysis I will translate those findings into actionable insights that the head of Microsoft's new movie studio can use to help decide what type of films to create.

# Setup

In [1]:
# Your code here - remember to use markdown cells for comments as well!

In [1]:
import pandas as pd
import numpy as np

import seaborn as sns

import matplotlib.pyplot as plt
import matplotlib as mpl
%matplotlib inline

import os,glob

In [2]:
# Create folder for data files
folder = 'zippedData/'

In [3]:
# use os to list files in folder
os.listdir(folder)

['bom.movie_gross.csv.gz',
 'imdb.name.basics.csv.gz',
 'imdb.title.akas.csv.gz',
 'imdb.title.basics.csv.gz',
 'imdb.title.crew.csv.gz',
 'imdb.title.principals.csv.gz',
 'imdb.title.ratings.csv.gz',
 'rt.movie_info.tsv.gz',
 'rt.reviews.tsv.gz',
 'tmdb.movies.csv.gz',
 'tn.movie_budgets.csv.gz']

In [4]:
# Glob is creating a search string that searches in folder for any file type 
# That starts with csv but can have anything after

files = glob.glob(f"{folder}*.csv*")
files

['zippedData\\bom.movie_gross.csv.gz',
 'zippedData\\imdb.name.basics.csv.gz',
 'zippedData\\imdb.title.akas.csv.gz',
 'zippedData\\imdb.title.basics.csv.gz',
 'zippedData\\imdb.title.crew.csv.gz',
 'zippedData\\imdb.title.principals.csv.gz',
 'zippedData\\imdb.title.ratings.csv.gz',
 'zippedData\\tmdb.movies.csv.gz',
 'zippedData\\tn.movie_budgets.csv.gz']

In [5]:
# Make file names more variable friendly

# Take file name, replace .csv.gz, split it along slashes, then take the last
# Item after split and swap '.' for '_'

files[0].replace('zippedData\\','').replace('.csv.gz','').split('/')[-1].replace('.','_')

'bom_movie_gross'

In [6]:
#Load files into dict using filename as their key

tables = {}
dashes = '---'*25

for file in files:
    # Save a variable-friendly version of file name
    table_name = file.replace('zippedData\\',''
                             ).replace('.csv.gz',''
                             ).split('/')[-1].replace('.','_')
    print(dashes)
    
    # Load and preview dataframe
    print(f'Preview of {table_name}')
    tables[table_name] = pd.read_csv(file)
    display(tables[table_name].head(5))
    print()

---------------------------------------------------------------------------
Preview of bom_movie_gross

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

---------------------------------------------------------------------------
Preview of imdb_name_basics

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"

---------------------------------------------------------------------------
Preview of imdb_title_akas

,title_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,NaN,NaN,0.0
1,tt0369610,11,Jurashikku warudo,JP,NaN,imdbDisplay,NaN,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,NaN,imdbDisplay,NaN,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,NaN,NaN,short title,0.0
4,tt0369610,14,Jurassic World,FR,NaN,imdbDisplay,NaN,0.0

---------------------------------------------------------------------------
Preview of imdb_title_basics

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

---------------------------------------------------------------------------
Preview of imdb_title_crew

      tconst                      directors              writers
0  tt0285252                      nm0899854            nm0899854
1  tt0438973                            NaN  nm0175726,nm1802864
2  tt0462036                      nm1940585            nm1940585
3  tt0835418                      nm0151540  nm0310087,nm0841532
4  tt0878654  nm0089502,nm2291498,nm2292011            nm0284943

---------------------------------------------------------------------------
Preview of imdb_title_principals

      tconst  ordering     nconst  category       job        characters
0  tt0111414         1  nm0246005     actor       NaN       ["The Man"]
1  tt0111414         2  nm0398271  director       NaN               NaN
2  tt0111414         3  nm3739909  producer  producer               NaN
3  tt0323808        10  nm0059247    editor       NaN               NaN
4  tt0323808         1  nm3579312   actress       NaN  ["Beth Boothby"]

---------------------------------------------------------------------------
Preview of imdb_title_ratings

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

---------------------------------------------------------------------------
Preview of tmdb_movies

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

---------------------------------------------------------------------------
Preview of tn_movie_budgets

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

## Possible Approaches

* Using the provided csv's and merging dataframes with:
    * regular pandas
    * pandasql
* Using the provided csv's and creating your own SQL database (using sqlite)
* Sourcing your own dataset using Web Scraping
* Sourcing your own dataset using an API
* Using 1 of the provided csv's and supplementing it with addtional data from an API

### If I'm feeling behind

* Focus on these three tables
    * imdb.title.basics
    * imdb.title.ratings
    * bom.movie_gross

## Using the Provided Data - Join with Pandas

* **Questions to Consider:**
    1. Where is the financial data?
    2. What columns are primary keys/unique indices?
    3. What tables could I join on what columns?

# Questions I want to Answer

1. What is the relationship between movie length and box office success?  Is there an ideal length range?
2. What are the top 2-3 genres that have the most consistent success?
3. What is the correlation between how many movies a director or writer has worked on and the success of those movies?

## What are the top 2-3 genres that have the most consistent success?

To do this I will make a a table of movie titles, their grosses, and associated genres.  From there I will get the total and average grosses for each genre over a certain time frame and compare them.  Depending on results, I might divide these results into different buckets of time frames to see if more recent trends point towards specific genres.

In [25]:
# print out an quick overview of the table options to see what to explore
for key in tables.keys():
    print(key)

bom_movie_gross
imdb_name_basics
imdb_title_akas
imdb_title_basics
imdb_title_crew
imdb_title_principals
imdb_title_ratings
tmdb_movies
tn_movie_budgets

>From the preview above it looks like `imdb_title_basics`, `tn_movie_budgets`, and `bom_movie gross` all have relevant information about grosses and genres associated with movies.

>Next step is to investigate each dataset further to see the best way to use them.

In [31]:
# create dataframe for each table and preview
df_tn_movie_budgets = tables['tn_movie_budgets']
print('***TN_MOVIE_BUDGET DATASET***')
display(df_tn_movie_budgets.head())

print(dashes)
print('\n')

df_imdb_title_basics = tables['imdb_title_basics']
print('***IMDB_TITLE_BASICS DATASET***')
display(df_imdb_title_basics.head())

print(dashes)
print('\n')

df_bom_movie_gross = tables['bom_movie_gross']
print('***BOM_MOVIE_GROSS DATASET***')
display(df_bom_movie_gross.head())

***TN_MOVIE_BUDGET DATASET***

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

---------------------------------------------------------------------------


***IMDB_TITLE_BASICS DATASET***

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

---------------------------------------------------------------------------


***BOM_MOVIE_GROSS DATASET***

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [27]:
# display preview of information about each datasets' values
print(df_bom_movie_gross.info())
print('\n')
print(dashes)
print(df_imdb_title_basics.info())
print('\n')
print(dashes)
print(df_tn_movie_budgets.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB
None


---------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   tconst           146144 non-null  object
 1   primary_title    146144 non-null  object
 2   original_title   146123 non-null  object
 3   start_year       146144 non-null  int64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB
None


---------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB
None

>There are quite a lot more entries in `imdb's` movie title database.  `bom's` dataset is much smaller than `tn's` and there are also a lot of missing values in it.

>`imdb's` and `tn's` datasets seem like a good place to start.

In [32]:
# redisplay the tables to be merged
print('***TN_MOVIE_BUDGET DATASET***')
display(df_tn_movie_budgets.head())

print('***IMDB_TITLE_BASICS DATASET***')
display(df_imdb_title_basics.head())

***TN_MOVIE_BUDGET DATASET***

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

***IMDB_TITLE_BASICS DATASET***

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [43]:
# create lists for each datasets movie title column as lower case and preview
# create list of tn's movie title column as lower case
tn_title_list = []
for title in df_tn_movie_budgets['movie']:
    tn_title_list.append(title.lower())

# create list of imdb's primary title column as lower case
imdb_primary_title_list = []
for title in df_imdb_title_basics['primary_title']:
    imdb_primary_title_list.append(title.lower())
    
# create list of imdb's original title column as lower case
imdb_original_title_list = []
for title in df_imdb_title_basics['original_title']:
    imdb_original_title_list.append(str(title).lower())

# preview first five titles in each list
print(tn_title_list[:5])
print(imdb_primary_title_list[:5])
print(imdb_original_title_list[:5])

['avatar', 'pirates of the caribbean: on stranger tides', 'dark phoenix', 'avengers: age of ultron', 'star wars ep. viii: the last jedi']
['sunghursh', 'one day before the rainy season', 'the other side of the wind', 'sabse bada sukh', 'the wandering soap opera']
['sunghursh', 'ashad ka ek din', 'the other side of the wind', 'sabse bada sukh', 'la telenovela errante']

In [88]:
# create function to compare a list of titles to both title comlumns in imdb's dataset

def imdb_title_comparison(title_list):
    # create dictionary to return and lists that it will contain
    t_dict = {}
    t_not_found = []
    t_in_pt = []
    t_in_ot = []

    # check each title in title_list passed to function column to see if it 
    # matches one of the title columns in imdb's dataset
    for title in title_list:
        # check if title is in primary or original title list, if so add it to respective list
        if title.lower() in imdb_primary_title_list:
            t_in_pt.append(title.lower())
        elif title.lower() in imdb_original_title_list:
            t_in_ot.append(title.lower())
        # if not found in either add title to list of ones not found
        else:
            t_not_found.append(title.lower())
    
    # add to dict that will return all three lists
    t_dict['not_found'] = t_not_found
    t_dict['pt_titles'] = t_in_pt
    t_dict['ot_titles'] = t_in_ot
    
    # print length of each list and a preview of titles for each
    print('Primary titles found:')
    print('{} titles found in primary titles'.format(len(t_in_pt)))
    print(t_in_pt[:10],'\n')

    print('Original titles found:')
    print('{} titles found in original titles'.format(len(t_in_ot)))
    print(t_in_ot[:10],'\n')

    print('Titles not found in either:')   
    print('{} titles not found in either column'.format(len(t_not_found)))
    print(t_not_found[:10],'\n')
    
    # print out keys for t_dict
    print('t_dict keys: not_found, pt_titles, ot_titles')
    
    return t_dict

In [89]:
# run function on tn_title_list
tn_title_comparison = imdb_title_comparison(tn_title_list)

# unpack dictionary values into individual lists to work with
titles_not_found = tn_title_comparison['not_found']
titles_in_pt = tn_title_comparison['pt_titles']
titles_in_ot = tn_title_comparison['ot_titles']

Primary titles found:
2432 titles found in primary titles
['avatar', 'pirates of the caribbean: on stranger tides', 'dark phoenix', 'avengers: age of ultron', 'avengers: infinity war', 'justice league', 'spectre', 'the dark knight rises', 'solo: a star wars story', 'the lone ranger']

Original titles found:
57 titles found in original titles
['renegades', 'tian jiang xiong shi', 'maze runner: the death cure', 'mei ren yu', 'zhuo yao ji', 'yi dai zong shi', 'switchback', 'yip man 3', 'nanny mcphee and the big bang', 'konferenz der tiere']

Titles not found in either:
3293 titles not found in either column
['star wars ep. viii: the last jedi', 'star wars ep. vii: the force awakens', 'pirates of the caribbean: at worldâ\x80\x99s end', 'spider-man 3', 'harry potter and the half-blood prince', 'superman returns', 'quantum of solace', 'pirates of the caribbean: dead manâ\x80\x99s chest', 'the chronicles of narnia: prince caspian', 'transformers: revenge of the fallen']

t_dict keys: not_found, pt_titles, ot_titles

>It looks like some of the titles from `tn's_movie_budgets` didn't get imported cleanly from the **\x80\x90s** in the pirates at world's end title as well s the other pirates title.

>The other titles not found seem to be sequels who's numbering or naming convention could be causing an issue. 

>First I will look at the titles containing extra characters.

In [92]:
# test replacing format
titles_not_found[2].replace('â\x80\x99', "'")

"pirates of the caribbean: at world's end"

In [97]:
# create list of titles not found with the problem string removed
def clean_titles_apo(titles):
    cleaned_titles = []
    for title in titles:
        if 'â\x80\x99' in title:
            cleaned_titles.append(title.replace('â\x80\x99', "'"))
        else:
            cleaned_titles.append(title)
    return cleaned_titles

In [98]:
clean_titles_apo(titles_not_found)

['star wars ep. viii: the last jedi',
 'star wars ep. vii: the force awakens',
 "pirates of the caribbean: at world's end",
 'spider-man 3',
 'harry potter and the half-blood prince',
 'superman returns',
 'quantum of solace',
 "pirates of the caribbean: dead man's chest",
 'the chronicles of narnia: prince caspian',
 'transformers: revenge of the fallen',
 'x-men: the last stand',
 'the golden compass',
 'guardians of the galaxy vol 2',
 'spider-man 2',
 '2012',
 'terminator salvation',
 'prince of persia: sands of time',
 "disney's a christmas carol",
 'the dark knight',
 'indiana jones and the kingdom of the crystal skull',
 'the chronicles of narnia: the lion, the witch and the wardrobe',
 'wall-e',
 'rush hour 3',
 'mission: impossibleâ\x80\x94fallout',
 'up',
 'monsters vs. aliens',
 'g.i. joe: the rise of cobra',
 'wild wild west',
 'the mummy: tomb of the dragon emperor',
 'evan almighty',
 'waterworld',
 'the polar express',
 'terminator 3: rise of the machines',
 'van helsing',
 'cowboys and aliens',
 'shrek the third',
 'fast and furious 6',
 'the curious case of benjamin button',
 'poseidon',
 'terminator: genisys',
 'alexander',
 'pearl harbor',
 'transformers',
 'harry potter and the order of the phoenix',
 'harry potter and the goblet of fire',
 'the matrix reloaded',
 'i am legend',
 'hancock',
 'charlie and the chocolate factory',
 'ratatouille',
 'batman begins',
 'mission: impossibleâ\x80\x94rogue nation',
 'madagascar: escape 2 africa',
 'x-men origins: wolverine',
 'night at the museum: battle of the smithsonian',
 'pokã©mon: detective pikachu',
 'the matrix revolutions',
 'chicken little',
 'mission: impossible iii',
 'angels & demons',
 'troy',
 'bee movie',
 'g-force',
 'bolt',
 'moonfall',
 'flushed away',
 'mission: impossibleâ\x80\x94ghost protocol',
 'die another day',
 'pirates of the caribbean: the curse of the black pearl',
 'star trek',
 'armageddon',
 'men in black 2',
 'lethal weapon 4',
 'the last samurai',
 'fun with dick and jane',
 'spider-man',
 'watchmen',
 'the incredible hulk',
 'hulk',
 'final fantasy: the spirits within',
 'the twilight saga: breaking dawn, part 2',
 'the world is not enough',
 'master and commander: the far side of the world',
 'miami vice',
 'harry potter and the prisoner of azkaban',
 'the bourne ultimatum',
 'kung fu panda',
 'bad boys ii',
 'australia',
 'the twilight saga: breaking dawn, part 1',
 'harry potter and the deathly hallows: part ii',
 "harry potter and the sorcerer's stone",
 'harry potter and the deathly hallows: part i',
 'the da vinci code',
 'x-men 2',
 'the day after tomorrow',
 'batman & robin',
 "assassin's creed",
 'the 13th warrior',
 'how the grinch stole christmas',
 'mission: impossible 2',
 'the perfect storm',
 'fantastic four: rise of the silver surfer',
 'ghost rider',
 "charlie's angels: full throttle",
 'stuart little 2',
 'the chronicles of riddick',
 'speed racer',
 'how do you know?',
 'star wars ep. i: the phantom menace',
 'star wars ep. iii: revenge of the sith',
 'star wars ep. ii: attack of the clones',
 'monsters, inc.',
 "dante's peak",
 "the huntsman: winter's war",
 'windtalkers',
 'astã©rix aux jeux olympiques',
 'night at the museum',
 'mr. and mrs. smith',
 'live free or die hard',
 'the divergent series: insurgent',
 "ocean's twelve",
 'tomorrow never dies',
 'the aviator',
 "miss peregrine's home for peculiar children",
 'the divergent series: allegiant',
 'the taking of pelham 123',
 'home on the range',
 'speed 2: cruise control',
 'kingdom of heaven',
 'around the world in 80 days',
 'the lord of the rings: the fellowship of the ring',
 'the cat in the hat',
 'i, robot',
 'stuart little',
 'the princess and the frog',
 '10,000 b.c.',
 'town & country',
 'gone in 60 seconds',
 'the hangover 3',
 'public enemies',
 'casino royale',
 'minority report',
 'harry potter and the chamber of secrets',
 'terminator 2: judgment day',
 'batman forever',
 'planet of the apes',
 'national treasure',
 'true lies',
 'american gangster',
 'cloudy with a chance of meatballs',
 "lemony snicket's a series of unfortunate events",
 'eraser',
 'the hunchback of notre dame',
 "the emperor's new groove",
 'where the wild things are',
 'eragon',
 'the stepford wives',
 "surf's up",
 'blood diamond',
 'starship troopers',
 'land of the lost',
 'peter pan',
 'catwoman',
 'treasure planet',
 'son of the mask',
 'the adventures of pluto nash',
 'jin lã\xadng shã\xad san chai',
 'the mummy returns',
 'gangs of new york',
 'the fifth element',
 'the road to el dorado',
 'the lovely bones',
 'finding nemo',
 'the lord of the rings: the return of the king',
 'the lord of the rings: the two towers',
 'lara croft: tomb raider',
 'jurassic park iii',
 'the spiderwick chronicles',
 'the incredibles',
 'the alamo',
 'cutthroat island',
 'men in black',
 'toy story 2',
 'rush hour 2',
 'ice age: dawn of the dinosaurs',
 'spider-man: into the spider-verse 3d',
 'the departed',
 'tropic thunder',
 "you don't mess with the zohan",
 'die hard: with a vengeance',
 'atlantis: the lost empire',
 'valkyrie',
 'artificial intelligence: ai',
 'the haunted mansion',
 'hollow man',
 'lara croft: tomb raider: the cradle of life',
 'spy game',
 'bicentennial man',
 'king arthur',
 "the devil's own",
 'k-19: the widowmaker',
 'army of the dead',
 'twister',
 'cinderella man',
 'hannibal',
 'seabiscuit',
 'happy feet',
 "ocean's eleven",
 'the bourne supremacy',
 'air force one',
 'fast & furious',
 'horton hears a who',
 'enchanted',
 'i now pronounce you chuck and larry',
 "ocean's thirteen",
 "it's complicated",
 'enemy of the state',
 'open season',
 '102 dalmatians',
 'the fast and the furious: tokyo drift',
 'memoirs of a geisha',
 'enemy at the gates',
 'last action hero',
 'meet joe black',
 'collateral damage',
 'judge dredd',
 'zodiac',
 'the core',
 'scooby-doo',
 'nutty professor ii: the klumps',
 "charlotte's web",
 'hellboy ii: the golden army',
 'the longest yard',
 'the 6th day',
 'bruce almighty',
 'mission: impossible',
 'batman returns',
 'over the hedge',
 'lilo & stitch',
 'deep impact',
 'get smart',
 'robots',
 "something's gotta give",
 'four christmases',
 'face/off',
 'bedtime stories',
 'road to perdition',
 'daredevil',
 'eagle eye',
 'con air',
 'cold mountain',
 'flubber',
 'the haunting',
 'space jam',
 'the pink panther',
 'the day the earth stood still',
 'six days, seven nights',
 'spirit: stallion of the cimarron',
 'swordfish',
 'fantasia 2000 (theatrical release)',
 'the manchurian candidate',
 'dã©jã vu',
 'bewitched',
 'the time machine',
 'what dreams may come',
 'mighty joe young',
 'the legend of zorro',
 'little nicky',
 'surrogates',
 'the brothers grimm',
 'mars attacks!',
 'walking with dinosaurs',
 'thirteen days',
 'battlefield earth: a saga of the year 3000',
 'looney tunes: back in action',
 'oceans',
 'babe: pig in the city',
 'the postman',
 'red planet',
 'arthur et les minimoys',
 'the invasion',
 'a sound of thunder',
 'a beautiful mind',
 'red dragon',
 'hidalgo',
 'the league of extraordinary gentlemen',
 'exorcist: the beginning',
 'astã©rix et obã©lix: au service de sa majestã©',
 '2 fast 2 furious',
 'children of men',
 'the adventures of rocky & bullwinkle',
 'independence day',
 "dr. seuss' the grinch",
 'the lost world: jurassic park',
 'ice age: the meltdown',
 'madagascar',
 'shark tale',
 'x-men',
 '50 first dates',
 'hairspray',
 'dreamgirls',
 'inspector gadget',
 'the terminal',
 'constantine',
 'monster house',
 'vertical limit',
 "charlie wilson's war",
 'be cool',
 'munich',
 'tears of the sun',
 'lady in the water',
 'spanglish',
 'anna and the king',
 'first knight',
 'hollywood homicide',
 'titan a.e.',
 'flight of the phoenix',
 'monkeybone',
 'playmobil',
 '355',
 'talladega nights: the ballad of ricky bobby',
 'sphere',
 'the simpsons movie',
 "fool's gold",
 'funny people',
 'the kingdom',
 'dr. dolittle 2',
 'braveheart',
 'jarhead',
 'the majestic',
 'two brothers',
 'the village',
 'doctor dolittle',
 'shrek 2',
 'cars',
 'alvin and the chipmunks: the squeakquel',
 'who framed roger rabbit?',
 'runaway bride',
 'xxx',
 "ocean's 8",
 'inglourious basterds',
 'hook',
 'die hard 2',
 's.w.a.t.',
 "daddy's home 2",
 'sleepy hollow',
 'vanilla sky',
 'battle: los angeles',
 'avp: alien vs. predator',
 'we were soldiers',
 'star trek: insurrection',
 'underworld: awakening',
 'the abyss',
 'wall street 2: money never sleeps',
 'rumor has it',
 'stardust',
 'seven years in tibet',
 'sky captain and the world of tomorrow',
 'the brave one',
 'i spy',
 'doom',
 'hard rain',
 "hart's war",
 'rollerball',
 'ballistic: ecks vs. sever',
 'osmosis jones',
 "legends of oz: dorothy's return",
 'basic instinct 2',
 'agora',
 'the sum of all fears',
 'the score',
 'money train',
 'mystery men',
 'the insider',
 "doctor seuss' the lorax",
 'body of lies',
 'the last legion',
 'the x files: fight the future',
 'saving private ryan',
 'apollo 13',
 'the matrix',
 'les miserables',
 'the santa clause 2',
 "you've got mail",
 'spy!',
 'step brothers',
 'jumanji',
 'the mask of zorro',
 'space cowboys',
 'cliffhanger',
 "pete's dragon",
 'broken arrow',
 'world trade center',
 'mona lisa smile',
 'eyes wide shut',
 'blade: trinity',
 'we are marshall',
 'primary colors',
 'fight club',
 'death race',
 'the long kiss goodnight',
 'proof of life',
 'zathura',
 'astro boy',
 'hudson hawk',
 'lucky numbers',
 'oliver twist',
 'random hearts',
 'perfume: the story of a murderer',
 'jurassic park',
 'austin powers in goldmember',
 'wyatt earp',
 'clear and present danger',
 'u-571',
 'the american president',
 'the love guru',
 '3000 miles to graceland',
 'blades of glory',
 "a dog's way home",
 'meet the fockers',
 '300',
 'wild hogs',
 'marley & me',
 'the green mile',
 'the truman show',
 'the bourne identity',
 'couples retreat',
 'goldeneye',
 'the italian job',
 'daddy day care',
 "the general's daughter",
 'the prince of egypt',
 'collateral',
 'cats & dogs',
 'two weeks notice',
 'antz',
 'the scorpion king',
 'starsky & hutch',
 'days of thunder',
 'cheaper by the dozen 2',
 'man on fire',
 'the family man',
 'the horse whisperer',
 'coraline',
 'ladder 49',
 'deep blue sea',
 "michael jackson's this is it",
 'kangaroo jack',
 'the happening',
 'rules of engagement',
 'the shaggy dog',
 'jingle all the way',
 'a civil action',
 'the jackal',
 'paycheck',
 'up close & personal',
 'the tale of despereaux',
 'the tuxedo',
 'under siege 2: dark territory',
 'miss congeniality 2: armed and fabulous',
 'alien: resurrection',
 'practical magic',
 'year one',
 'star trek: nemesis',
 'reign of fire',
 'planet 51',
 'righteous kill',
 'invictus',
 'my favorite martian',
 'the sentinel',
 'intolerable cruelty',
 'the relic',
 'mercury rising',
 'analyze that',
 'the soloist',
 'the legend of bagger vance',
 'garfield: a tail of two kitties',
 'xxx: state of the union',
 'event horizon',
 'sinbad: legend of the seven seas',
 'dark water',
 'the black dahlia',
 'edtv',
 'the spirit',
 'the last castle',
 'inkheart',
 'flyboys',
 "winter's tale",
 'holy man',
 'meet dave',
 'the great raid',
 'in the name of the king: a dungeon siege tale',
 'xi you ji zhi sun wu kong san da bai gu jing',
 'rambo iii',
 'just like heaven',
 'the flintstones in viva rock vegas',
 'leatherheads',
 'did you hear about the morgans?',
 'che, part 1: the argentine',
 'sex and the city',
 "devil's advocate",
 'dragonheart',
 'after the sunset',
 "captain corelli's mandolin",
 'anger management',
 'the pacifier',
 'walking tall',
 'forrest gump',
 'alvin and the chipmunks',
 'meet the parents',
 'the pursuit of happyness',
 'pocahontas',
 'superman',
 'the nutty professor',
 'george of the jungle',
 'american wedding',
 'casper',
 'maid in manhattan',
 'crimson tide',
 'flightplan',
 'disclosure',
 'r.v.',
 'stargate',
 'kill bill: volume 1',
 "mr. poppers's penguins",
 'bowfinger',
 'kill bill: volume 2',
 'tango & cash',
 'death becomes her',
 'shanghai noon',
 'executive decision',
 'alien 3',
 'the forbidden kingdom',
 'the phantom of the opera',
 'evita',
 'ronin',
 'the ghost and the darkness',
 'changeling',
 'stuck on you',
 'semi-pro',
 'aeon flux',
 'the fan',
 'elizabeth: the golden age',
 'imagine that',
 'gods and generals',
 "all the king's men",
 'thunderbirds',
 'un long dimanche de fianã§ailles',
 'lucky you',
 'lolita',
 'eye see you',
 'superman ii',
 'blade 2',
 'you, me and dupree',
 'seven pounds',
 'the godfather: part iii',
 'elizabethtown',
 'gigli',
 'the dukes of hazzard',
 'law abiding citizen',
 'domestic disturbance',
 'flags of our fathers',
 'grindhouse',
 'catch me if you can',
 'mamma mia!',
 'the break-up',
 'the thin red line',
 'man on the moon',
 'bulletproof monk',
 'me, myself & irene',
 'barnyard: the original party animals',
 'deck the halls',
 'the twilight saga: new moon',
 'shrek',
 'robin hood: prince of thieves',
 'jerry maguire',
 "daddy's home",
 'as good as it gets',
 'patch adams',
 'mr. deeds',
 'erin brockovich',
 'how to lose a guy in 10 days',
 'interview with the vampire: the vampire chronicles',
 'yes man',
 'stepmom',
 'disney planes',
 'failure to launch',
 'inside man',
 'crazy, stupid, love',
 'congo',
 'knowing',
 'the ring two',
 'garfield: the movie',
 'christmas with the kranks',
 'v for vendetta',
 'race to witch mountain',
 'herbie: fully loaded',
 'shanghai knights',
 'planes: fire and rescue',
 'curious george',
 "don't say a word",
 '13 hours: the secret soldiers of benghazi',
 'unfaithful',
 'syriana',
 'resident evil: apocalypse',
 'absolute power',
 'firewall',
 'g.i. jane',
 'silent hill',
 'the replacements',
 'the negotiator',
 'beverly hills cop iii',
 'gremlins 2: the new batch',
 'bridget jones: the edge of reason',
 'the beach',
 'the adventures of sharkboy and lavagirl in 3-d',
 'on deadly ground',
 'ninja assassin',
 'raising helen',
 'for love of the game',
 'jack frost',
 'striptease',
 'murder by numbers',
 'defiance',
 'hannibal rising',
 'the story of us',
 'basic',
 'blood work',
 'the international',
 'escape from l.a.',
 'twisted',
 'the life aquatic with steve zissou',
 'the iron giant',
 'man of the house',
 'the life of david gale',
 'into the blue',
 'eastern promises',
 "baby's day out",
 'the messenger: the story of joan of arc',
 'mad city',
 'street fighter: the legend of chun-li',
 'death to smoochy',
 'the boat that rocked',
 'the big bounce',
 'what planet are you from?',
 'outlander',
 'hannibal the conqueror',
 'arctic dogs',
 'the adventures of ford fairlane',
 'indiana jones and the last crusade',
 'the thomas crown affair',
 'the bone collector',
 'rat race',
 '3:10 to yuma',
 'k-pax',
 'kate and leopold',
 'bedazzled',
 'the cotton club',
 'dick tracy',
 'the cable guy',
 'riding in cars with boys',
 "happily n'ever after",
 'solaris',
 'mary reilly',
 'mr. nobody',
 "america's sweethearts",
 'star trek: first contact',
 'courage under fire',
 'inchon',
 'arthur and the war of two worlds',
 'liar liar',
 "a bug's life",
 'the flintstones',
 'scary movie 3',
 'miss congeniality',
 'journey to the center of the earth',
 'the pelican brief',
 'the princess diaries 2: royal engagement',
 'patriot games',
 'monster-in-law',
 'training day',
 'galaxy quest',
 'scary movie 2',
 'blade',
 'coach carter',
 'changing lanes',
 'anaconda',
 'underworld: evolution',
 'coyote ugly',
 'love actually',
 'the specialist',
 'tin cup',
 'yours, mine and ours',
 'kicking and screaming',
 "the hitchhiker's guide to the galaxy",
 'resident evil: extinction',
 'fat albert',
 'the river wild',
 'last holiday',
 '16 blocks',
 'the indian in the cupboard',
 'cellular',
 'the ant bully',
 'johnny english',
 'aliens in the attic',
 'across the universe',
 'revolutionary road',
 'babylon a.d.',
 'the glimmer man',
 'multiplicity',
 'the producers: the movie musical',
 'the phantom',
 'all the pretty horses',
 'bangkok dangerous',
 'nixon',
 'deep rising',
 'miracle at st. anna',
 'big trouble',
 'man cheng jin dai huang jin jia',
 'love in the time of cholera',
 'shadow conspiracy',
 'the fugitive',
 'rambo: first blood part ii',
 'sleepers',
 'finding forrester',
 '28 days',
 'danny the dog',
 'the sweetest thing',
 "the girl in the spider's web",
 'the firm',
 'notting hill',
 'chicken run',
 'along came polly',
 'brã¼no',
 'cleopatra',
 'high crimes',
 'the mirror has two faces',
 'the mothman prophecies',
 'licence to kill',
 '15 minutes',
 'lord of war',
 'super mario bros.',
 "mchale's navy",
 'micmacs',
 'les bronzã©s 3: amis pour la vie',
 "pourquoi j'ai pas mangã© mon pã¨re",
 '8 mile',
 "a knight's tale",
 'the medallion',
 'the sixth sense',
 'wedding crashers',
 'john wick: chapter 3 â\x80\x94 parabellum',
 'cheaper by the dozen',
 'back to the future part ii',
 'double jeopardy',
 'spy kids 3-d: game over',
 'a time to kill',
 'a league of their own',
 'the conjuring 2: the enfield poltergeist',
 'julie & julia',
 "he's just not that into you",
 'john wick: chapter two',
 'scary movie 4',
 'scream 3',
 'back to the future part iii',
 "bram stoker's dracula",
 'eight below',
 'the talented mr. ripley',
 'the last of the mohicans',
 'sin city',
 'vantage point',
 'i love you, man',
 'shallow hal',
 'jfk',
 "big momma's house 2",
 'the mexican',
 'the final destination',
 '17 again',
 'gothika',
 'behind enemy lines',
 'shall we dance?',
 'small soldiers',
 'spawn',
 'the count of monte cristo',
 'the prestige',
 'the lake house',
 'the living daylights',
 'apocalypto',
 'music and lyrics',
 'legal eagles',
 'secret window',
 'the skeleton key',
 'made of honor',
 'the rainmaker',
 'medicine man',
 'amistad',
 'fever pitch',
 'aliens vs. predator - requiem',
 'the water horse: legend of the deep',
 'ri¢hie ri¢h',
 'autumn in new york',
 '8mm',
 'hanging up',
 'the doors',
 'mickey blue eyes',
 'pay it forward',
 'drillbit taylor',
 'extremely loud and incredibly close',
 'transporter 3',
 "get rich or die tryin'",
 'bless the child',
 'rent',
 'the out-of-towners',
 'the island of dr. moreau',
 'the musketeer',
 'the other boleyn girl',
 'sweet november',
 'quest for camelot',
 'city by the sea',
 'at first sight',
 'torque',
 'fantastic mr. fox',
 'showgirls',
 'city hall',
 'marie antoinette',
 'get carter',
 'life, or something like it',
 'ishtar',
 'memoirs of an invisible man',
 'amelia',
 "cirque du freak: the vampire's assistant",
 'new york minute',
 'the deep end of the ocean',
 'alfie',
 'feardotcom',
 'soul men',
 'universal soldier ii: the return',
 'pandorum',
 'duplex',
 'raise the titanic',
 'impostor',
 'extreme ops',
 'just visiting',
 'the hudsucker proxy',
 "billy lynn's long halftime walk",
 'delgo',
 'the hunting party',
 'alex rider: operation stormbreaker',
 'red cliff',
 'un monstre ã paris',
 "dragon nest warriors' dawn",
 'the crow',
 'down under cover',
 "the time traveler's wife",
 'superman iii',
 'because i said so',
 'sgt. bilko',
 "shoot 'em up",
 'against the ropes',
 'the fast and the furious',
 'sweet home alabama',
 'the ugly truth',
 'spy kids 2: the island of lost dreams',
 'star trek: generations',
 'mouse hunt',
 'the hurricane',
 'heartbreakers',
 'angel eyes',
 'joe somebody',
 'the ninth gate',
 'extreme measures',
 'white squall',
 'city of ember',
 'texas rangers',
 'virgin territory',
 'burn after reading',
 '13 going on 30',
 "nim's island",
 'space chimps',
 'obitaemyy ostrov',
 'gnomeo and juliet',
 'john q',
 'blue streak',
 'never say never again',
 'a man apart',
 'reindeer games',
 'snow falling on cedars',
 'ghosts of mississippi',
 'gattaca',
 "isn't she great",
 'the hangover',
 'the blind side',
 'batman',
 'austin powers: the spy who shagged me',
 'lethal weapon 3',
 'the devil wears prada',
 'spy kids',
 'star trek: the motion picture',
 'what happens in vegas...',
 'cape fear',
 'the english patient',
 'hotel for dogs',
 'guess who',
 'l.a. confidential',
 'in & out',
 'the cell',
 'species',
 'the benchwarmers',
 'the man in the iron mask',
 'tmnt',
 'old dogs',
 'malcolm x',

In [94]:
# cleaned_comp = imdb_title_comparison(cleaned_titles_not_found)

# c_titles_not_found = tn_title_comparison['not_found']
# c_titles_in_pt = tn_title_comparison['pt_titles']
# c_titles_in_ot = tn_title_comparison['ot_titles']

Primary titles found:
34 titles found in primary titles
["assassin's creed", "the huntsman: winter's war", "miss peregrine's home for peculiar children", "it's complicated", "legends of oz: dorothy's return", "pete's dragon", "a dog's way home", "winter's tale", "daddy's home", "the girl in the spider's web"]

Original titles found:
3 titles found in original titles
["tyler perry's boo 2! a madea halloween", "de rouille et d'os", "beginner's guide to sex"]

Titles not found in either:
3256 titles not found in either column
['star wars ep. viii: the last jedi', 'star wars ep. vii: the force awakens', "pirates of the caribbean: at world's end", 'spider-man 3', 'harry potter and the half-blood prince', 'superman returns', 'quantum of solace', "pirates of the caribbean: dead man's chest", 'the chronicles of narnia: prince caspian', 'transformers: revenge of the fallen']

t_dict keys: not_found, pt_titles, ot_titles

>Before I work on the titles still not found, I'll make a new `tn_title_list` with what has been cleaned so far so that we have it to work on.

In [100]:
tn_title_list = clean_titles_apo(tn_title_list)
tn_title_list[:10]

['avatar',
 'pirates of the caribbean: on stranger tides',
 'dark phoenix',
 'avengers: age of ultron',
 'star wars ep. viii: the last jedi',
 'star wars ep. vii: the force awakens',
 'avengers: infinity war',
 "pirates of the caribbean: at world's end",
 'justice league',
 'spectre']

In [101]:
cleaned_tn_comp = imdb_title_comparison(tn_title_list)

c_titles_not_found = tn_title_comparison['not_found']
c_titles_in_pt = tn_title_comparison['pt_titles']
c_titles_in_ot = tn_title_comparison['ot_titles']

Primary titles found:
2466 titles found in primary titles
['avatar', 'pirates of the caribbean: on stranger tides', 'dark phoenix', 'avengers: age of ultron', 'avengers: infinity war', 'justice league', 'spectre', 'the dark knight rises', 'solo: a star wars story', 'the lone ranger']

Original titles found:
60 titles found in original titles
['renegades', 'tian jiang xiong shi', 'maze runner: the death cure', 'mei ren yu', 'zhuo yao ji', 'yi dai zong shi', 'switchback', 'yip man 3', 'nanny mcphee and the big bang', 'konferenz der tiere']

Titles not found in either:
3256 titles not found in either column
['star wars ep. viii: the last jedi', 'star wars ep. vii: the force awakens', "pirates of the caribbean: at world's end", 'spider-man 3', 'harry potter and the half-blood prince', 'superman returns', 'quantum of solace', "pirates of the caribbean: dead man's chest", 'the chronicles of narnia: prince caspian', 'transformers: revenge of the fallen']

t_dict keys: not_found, pt_titles, ot_titles

## What is the relationship between movie length and box office success? Is there an ideal length range? Does the relationship change based on genre?

To do this I will make a table of movie titles, grosses, genres, and run times. From there I'll divide the lengths into buckets and get average grosses per bucket and further divide these results into each genre.

## What is the correlation between how many movies a director or writer has worked on and the success of those movies?

To do this I will make a table of directors, how many movies they've directed, and total gross of all their movies.  From there I will find out the average gross per movie they directed and compare the results to see if more movies means more average money.  I will also use this to determine if there is a breakpoint for number of movies that indicates higher chance of success after it.

I will then do the same for writers.  Possibly comparing the two jobs afterwards.